<div class="container mt-5">
  <div class="text-center">
    <img
      src="../../../assets/images/500.png"
      alt="500 error"
      class="img-fluid w-25 my-4"
      style="margin-left: auto !important; margin-right: auto !important"
    />
    <h4>Aw snap!</h4>
    <p>Eroare de sistem - intra din nou pe pagina principala, ar trebui sa revenim la normal :)
    <br>(iar in caz de nu, contacteaza-ne!)</p>
  </div>

  <ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{ error.message }}</h5>
    <p class="font-weight-bold">
      Note: if you are seeing this, then Angular is probably not responsible.
    </p>
    <p>What to do next?</p>
    <ol>
      <li>Open Chrome Dev Tools</li>
      <li>Inspect the Network tab</li>
      <li>Check the failing request</li>
      <li>Examine the URL request - make sure this is correct</li>
      <li>
        Reproduce the error in Postman - if we get the same response in Postman,
        then the issue is NOT with Angular
      </li>
    </ol>
    <p>
      Following is the stack trace - this is where your investigation should
      start!
    </p>
    <code class="mt-5" style="background-color: whitesmoke">{{
      error.details
    }}</code>
  </ng-container>
</div>
