<carousel>
  <slide>
    <img
      src="../../assets/images/hero1.jpg"
      alt="first slide"
      style="display: block; width: 100%"
      class="slide-img"
    />
  </slide>
  <slide>
    <img
      src="../../assets/images/hero2.jpg"
      alt="second slide"
      style="display: block; width: 100%"
      class="slide-img"
    />
  </slide>
  <slide>
    <img
      src="../../assets/images/hero3.jpg"
      alt="third slide"
      style="display: block; width: 100%"
      class="slide-img"
    />
  </slide>
</carousel>
<div class="mt-5 text-center">
  <h1>Welcome to</h1>
  <img src="../../assets/images/logo.png" alt="logo" class="img-fluid w-25" />
  <h3>The best tech store in the business!</h3>
</div>
