.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background-color: #0455a1;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: #115ea6;
  }
}

.logo{
  max-height: 50px;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}
