<div class="container mt-5 text-center">
  <img src="../../assets/images/logo.png" alt="logo" class="img-fluid" />
  <h3>The best tech store in the business!</h3>

  <div class="my-5">
    <h4>Ce este Circuitry?</h4>
    <p>
      Circuitry este o aplicatie de e-commerce realizata de programatori pentru
      programatori! <br />Scopul nostru este de a facilita achizitionarea celor
      mai noi produse din domeniul tech necesare pentru a trece cat mai repede
      la treaba!
    </p>

    <h4>Cum a inceput acest proiect?</h4>
    <p>
      Proiectul Circuity a inceput din dorinta de a crea un proiect simplu de
      atestat pentru informatica, extinzandu-se ulterior din dorinta
      developer-ului de a invata mai multe lucruri si a le aplica pentru a crea
      un website potrivit cerintelor sale.
    </p>

    <h4>Ce tehnologii au fost folosite pentru a crea Circuitry?</h4>
    <p>Pentru Circuitry, tehnologiile folosite au fost urmatoarele:</p>
    <ul style="list-style-position: inside">
      <li><strong>Frontend:</strong> Angular, Bootstrap 5, Font Awesome 5</li>
      <li><strong>Backend:</strong> .NET - Limbaj de Programare: C#</li>
      <li><strong>Databases:</strong> SQLite + Redis</li>
      <li><strong>Procesare de plati:</strong> Stripe</li>
    </ul>

    <h4>Cine este in spatele Circuitry?</h4>
    <div class="row mt-5 d-flex align-items-center justify-content-center">
      <div class="col-md-6">
        <img
          src="../../assets/images/post-sorin.png"
          alt="devSorin"
          class="img-fluid w-50 rounded-circle"
        />
      </div>
      <div class="col-md-6">
        <h1>Sorin Greu</h1>
        <p>Computer Science Student at CNVAIS</p>
        <p>Co-Founder/Instructor @ CNVA HUB</p>
        <h5><a href="https://github.com/SorinGreu23">GitHub Profile</a></h5>
      </div>
    </div>
  </div>
</div>
